bcrypt
blinker
certifi
cffi
click
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
Flask-JWT-Extended
Flask-Restful
Flask
itsdangerous
Jinja2
MarkupSafe
Pillow
pycparser
pymongo
six
SQLAlchemy
Werkzeug
WTForms
pyjwt
Requests
psycopg2
pi